.body{
  margin: 0px;
}
*{
  padding:0;
  margin:0;
}
.home_container{
  position:relative;
  height:100%;
  margin: 0px;
}
/*sidebar*/
.home_container .sidebar{
  position:fixed;
  width: 20%;
  height: 100vh;
  text-align:center;
}
.sidebar h2{
  color:black;
  padding-top:5%;
  line-height:35px;
}
.sidebar h4{
  padding-top: 3%;
  line-height:35px;
}
.sidebar ul{
  padding-top:15%;
}
.sidebar ul li{
  border-top:1px solid rgba(0,0,0,0.1);
  border-bottom:opx solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px 10px 0px;
}
.sidebar ul lo a{
  color:black;
  font-weight:600;
  font-size: medium;
  text-decoration:none;
}
.sidebar ul li:hover{
  background-color: rgba(207, 110, 30, 0.1);
  border-right: 5px solid rgba(235, 205, 37, 0.945);
}
.sidebar ul li a:active{
  color: red;
}
.sidebar{
  width:23%;
  height:100%;
  background-color: rgb(255, 255, 255);
  position:fixed;
  padding-top:20px;
  margin:0px;
}
.sidebar img{
  width: 100px;
  border-radius: 100%;
  border: 2px solid #130101;
}
.sidebar h4{
  color: #d1cfcf;
}
.sidebar .social-media {
  padding-top: 5px;
}
.sidebar .social-media i{
  width: 40px;
  background-color: rgba(99, 61, 61, 0.1);
  color: rgba(43, 17, 112, 0.4);
  border-radius:5px;
  margin-left: 2%;
}
.social-media i:hover {
  transform: rotate(360deg);
  transition: 1s;
}
.sidebar{
  color:#611c1c;
}
.sidebar li a{
  color:black;
  text-decoration:none;
}
#nav {
  list-style-type:none;
}
/*About Me*/
.home_container .aboutme{
  position: relative;
  width:79%;
  height:100vh;
  margin-left:20%;
}
.aboutme .shadow{
  width:1%;
  height:250vh;
  background-color: rgba(212, 211, 206, 0.945);
  position: absolute;
}
.aboutme{
 background-color:rgb(255, 255, 255);
  height:100vh;
  margin-left:22.3%;
  color:whitesmoke;
  position:relative;
}
.aboutme .aboutme-item{
  padding-left:3px;
  padding-top:2%;
}
.aboutme .aboutme-item i{
  background-color:rgba(235, 205, 37, 0.945);
  position:absolute;
  font-size: x-large;
  font-weight:600;
  color:rgb(255, 255, 255);
  width:250px;
  height:50px;
  text-align: right;
  padding-right:50px;
  padding-top: 30px;
  border-top-left-radius: 15px;
}
.aboutme-item i:before{
content:" ";
position: absolute;
width: 9px;
height: 40px;
left: 0px;
top: 68%;
background-color: rgba(235, 205, 37, 0.945);
border-top-left-radius: 30px;
border-bottom-left-radius: 25px;
z-index:100;
}
.aboutme-item i::after{
  content: " ";
  position: absolute;
  width:10px;
  height: 15px;
  left:0px;
  top:100%;
}
.aboutme-item .intro{
  position: absolute;
  padding-top: 10%;
  width: 100%;
  height:300px;
  background-color: rgb(255, 255, 255);
}
.aboutme .aboutme-item span{
  position:absolute;
  padding-top:4.5%;
  padding-left:43%;
  color:rgb(131, 128, 128);
}
.home_container .aboutme .intro{
position: relative;
margin-top:10%;
margin-left:1%;
width: 100%;
height: 300px;
color:black;
}
.intro .item1{
  position:absolute;
  width: 55%;
  height: 100%;
  padding-left: 10;
}
.intro .item1 h2{
  padding-left:12%;
}
.intro .item1 p{
  color:black;
  padding-right:40%;
  padding-top:3%;
  margin-left:20%;
}

.row:after{
  content:" ";
  display:table;
  clear:both;
  color:black;
}
.column{
   float: left;
   width:25%;
   color:black;
}
.column6{
  float:left;
  width:50%;
  color:black;
}
.column4{
  float:left;
  width:20%;
  padding :10px;
  color:black;
  text-align: center;
}
.column5{
  float:left;
  width:10%;
  padding:9px;
}
.column3{
  float:left;
  width:10%;
  padding:5px;
  color: black;
  text-align:center;
}
.intro .item2{
  position: absolute;
  width: 55%;
  height:100%;
  margin-left:55%;
}
.intro .item2 td img{
 margin-top:10%;
  border-radius:100%;
  border:4px solid rgba(141, 134, 134, 0.685);
}
.intro .item2 .previois round{
  padding-top:2%;
}
.intro .item2 h2{
  color:black;
  text-decoration:none;
}
.intro{
  height:50%;
}
.intro .item2 p{
  padding-top:5%;
  padding-left:10%;
}
.previous round{
  background-color:#f1f1f1;
}
.next round{ 
   background-color:#f1f1f1;
   color:black;
}
.a{
  text-decoration:none;
  display:inline-block;
  color:black;
}
.service h3{
  padding-top:5%;
}
.aboutme .service{
position:relative;
width: 100%;
height:60%;
background-color:rgb(255, 255, 255);
margin: 2% 0 0 1%; 
color:black;
}
.service{
  padding-left: 12%;
}
.aboutme .client{
  position: relative;
  width: 100%;
  height:40%;
  margin: 2% 0 0 1%;
  color: black;
}
.client{
  padding-left:12%;
}
.client h3{
  padding-top:5%;
}
.aboutme .award{
  position:relative;
  width: 100%;
  height: 50%;
  margin: 2% 0 0 1%;
  color:black;
}
.award{
  padding-left:12%;
  
}
.award .row{
  padding-top:30px;
}
.award .row .column4 p{
  color:rgb(235, 167, 20);
  font-size:100%;
  padding-top:10%;
}
.award .row .column4 h3{
  padding-top:20%;
}
.award h3{
  padding-top:5%;
}